<div class="container">
    <section id="forms">
                    <div class="container">
                        <div class="full-width">
                            <div class="small-padding">
                                <h2 class="blue-underline small-bottom-padding">Specials</h2>
                            </div>
                        </div>
                        <div class="third">
                            <div class="small-padding">
                                <h3>Ordering a Special</h3>
                                <form>
                                    <form action="/order" method="post">
                                    <label>Number of Scoops *</label>
                                    <select name="scoops">
                                        <option>1</option>
                                        <option>2</option>
                                        <option>3</option>
                                        <option>4</option>
                                    </select>
                                    
                                    <label>Eating Method *</label>
                                    <select name="eating_method">
                                        <option>Waffle Cone</option>
                                        <option>Waffle Cone-Choclate Dipped</option>
                                        <option>Waffle Bowl</option>
                                        <option>Bowl</option>
                                    </select>
                                    
                                    <label>Special *</label>
                                    <select name="special_id">
                                        <option>Rocky Road</option>
                                        <option>Moose Tracks</option>
                                    </select>
                                <input class="button" type="submit">Click to submit order.</input>                                        
                                </form>
                                

                            </div>
                        </div>
        <section>