<!DOCTYPE html>
<html>
<head>
<title>SheQL Project</title>
<!-- Candy CSS -->
<link rel="stylesheet" href="assets/dist/candy.css" type="text/css" media="all">
<!-- Optional custom CSS that you write -->
<link rel="stylesheet" href="assets/dist/custom.css" type="text/css" media="all">
</head>

<body>
  <nav class="main-nav sticky-nav">
      <div class="menu">
          <img src="https://www.google.com/url?sa=i&rct=j&q=&esrc=s&source=images&cd=&ved=0ahUKEwin-LuWmdLVAhUC1GMKHWfeCqMQjRwIBw&url=http%3A%2F%2Fwww.momjunction.com%2Farticles%2Fyummy-ice-cream-coloring-pages-toddler-will-love_0085709%2F&psig=AFQjCNH-IDXzgtlonYkZUmb80mjj89Pjvw&ust=1502644501906008" alt="My Logo">
          <ul>
              <li><a href="https://sheql-aprilguerin.c9users.io/#">Home</a></li>
          </ul>
          <button class="open-menu">Menu</button>
          <button class="close-menu">Close</button>
      </div>
  </nav>

  <%= yield %>

</body>

<!-- jQuery -->
<script src="assets/lib/jquery-3.2.1.min.js" type="text/javascript" charset="utf-8"></script>

<!-- Candy JS -->
<script src="assets/dist/candy.js" type="text/javascript" charset="utf-8"></script>
</html>