
        <section id="grid">
            <div class="container large-bottom-margin">
                <div class="full-width">
                    <div class="small-padding">
                        <h2 class="small-bottom-padding">Scoop 'n Smiles</h2>

                    </div>
                </div>

                <!-- Answer this Question: What is Your Project-->


                <div class="full-width">
                    <div class="small-padding">
                        <h3 class="blue-text">What is my project and what makes it awesome?</h3>
                        <h5 class="blue-text">Ice Cream</h5>                    </div>
                </div>
                <div class="full-width">
                    <div class="small-margin small-padding round-corners light-blue-background">
                        <p>My project is an online ice cream shop and it is awesome because it has a wide variety of flavors and mix-ins to make the best ice cream ever.</p>
                        <p>It also has a great deal of relationships making it very complex.</p>
                    </div>
                </div>

                <div class="full-width blue-underline small-top-padding"></div>

                <!-- Optional 1: How Your Idea Came to Be Question-->
                <div class="full-width">
                    <div class="small-padding">
                        <h3 class="purple-text">How did you come up with your idea?</h3>
                        <h5 class="purple-text">Dad</h5>
                    </div>
                </div>

                <div class="full-width">
                    <div class="small-margin small-padding round-corners light-purple-background">

                        <p>My dad was the one who gave me the idea on ice cream and I just took that to make an online ice cream shop.</p>

                    </div>
                </div>

                <div class="full-width purple-underline small-top-padding"></div>




                <!-- Optional 2: Table Structure Question-->

                <div class="full-width">
                    <div class="small-padding">
                        <h3 class="pink-text">What is your table structure?</h3>
                        <h5 class="pink-text">Complicated</h5>
                    </div>
                </div>
                <div class="half">
                    <div class="small-margin small-padding round-corners light-pink-background">
                        <p>I have a bunch of connected tables to order which has scoops, eating method, ice cream flavors, mix ins, toppings, and specials to choose from.</p>
                        
                    </div>
                </div>
                <div class="half">
                    <div class="small-margin small-padding round-corners light-pink-background">
                        <img src="https://cloud.graphicleftovers.com/12009/649701/ice-cream-cone-smiling.jpg" style="height: 400px;" />
                        <h5 class="pink-text">Ice Cream </h5>
                    </div>
                </div>

                <div class="full-width pink-underline small-top-padding"></div>




                <!-- Optional 3: Talk About Your Hardest Code And How You Did It -->

                <div class="full-width">
                    <div class="small-padding">
                        <h3 class="green-text">What is the hardest piece of code or what was a problem you had to solve?</h3>
                        <h5 class="green-text">The hard part was probably connecting each of the models and migrations to each other so they would have a relationship.</h5>
                    </div>
                </div>
                <div class="half">
                    <div class="small-margin small-padding round-corners light-green-background">
                        <h5 class="green-text"></h5>

                        <pre>
                            <code>
class CreateOrder < ActiveRecord::Migration[5.1]
  def change
    create_table :special_options do |t|
      t.string :name
      t.string :description
    end
    create_table :specials do |t|
      t.belongs_to :order
      t.belongs_to :special_option
    end
    create_table :orders do |t|
      t.integer :scoops
      t.string :eating_method
      t.belongs_to :special
    end
  end
end                    </code>
                        </pre>

                    </div>
                </div>
                <div class="half">
                    <div class="small-margin small-padding round-corners light-green-background">
                        <h3 class="green-text">Why Awesome was so hard</h3>


                        <p>It was so difficult because I wanted to be able to do a great deal with the website and would just let my self get away with the bare minimum. The relationships also made it more complicated.


                    </div>
                </div>
                <div class="full-width green-underline small-top-padding"></div>



                <!-- Optional 4: What Will You Do For Your Project Next? -->

                <div class="full-width">
                    <div class="small-padding">
                        <h3 class="blue-text">What is the next step?</h3>
                        <h5 class="blue-text">A lot of stuff</h5>
                    </div>
                </div>
                <div class="fulll-width">
                    <div class="small-margin small-padding round-corners light-blue-background">

                      <p>I would like to learn how to make a game in javascript or learn python.</p>
                      <p>I want to learn more code and what I can do with it.</p>

                    </div>
                </div>

                <div class="full-width blue-underline small-top-padding"></div>


  <!-- This is the end of the div and section - don't delete! -->


                <div class="full-width">
                    <div class="small-padding">
                        <h2 class="small-bottom-padding">This Project was made for SheQL</h2>
                        <p class="small-bottom-padding">SheQL is a free, 10 week course offered to high school girls, femmes, and non-males in the Summer of 2017 by <a href="http://omahagirlswhocode.com/" target="_blank">Mystery Code Society</a> and supported with materials and space by the <a href="https://omahalibrary.org/location/
                        milton-r-abrahams-branch-blog/" target="_blank">Abrahams Branch library</a>.</p>
                        <p>This project was built using Ruby, Postgres, ActiveRecord, and Sinatra.</p>
                        <p>If you think these sites are beautiful, that is thanks to a custom front-end framework by Cara Heacock (puzzalea on github). We are so lucky to have her!</p>

                        <img src="/assets/sheql.png"  />
                    </div>
                </div>

            </div>
        </section>

